#main {
  height: 100%;

  .ivu-layout {
    height: 100%;
  }

  content.main-content {
    height: 100%;
  }

  .ivu-layout-header.main-header {
    background: #348EED;

    span {
      color: #ffffff;
      margin-left: 10px;
    }
  }

  .ivu-layout-sider {
    background: #ffffff;
    border-right: 1px solid #C8C8C8;
  }
}
